<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name></display-name>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>InsertuserServlet</servlet-name>
    <servlet-class>com.heu.controllor.InsertuserServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>FunShowServlet</servlet-name>
    <servlet-class>com.heu.controllor.FunShowServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CheckLoginServlet</servlet-name>
    <servlet-class>com.heu.controllor.CheckLoginServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DownLoadServlet</servlet-name>
    <servlet-class>com.heu.controllor.DownLoadServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SendFunServlet</servlet-name>
    <servlet-class>com.heu.controllor.SendFunServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>TestServlet</servlet-name>
    <servlet-class>com.heu.test.TestServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>PhotoShowServlet</servlet-name>
    <servlet-class>com.heu.controllor.PhotoShowServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AllShowServlet</servlet-name>
    <servlet-class>com.heu.controllor.AllShowServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>com.heu.controllor.Register</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>VideoShowServlet</servlet-name>
    <servlet-class>com.heu.controllor.VideoShowServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SoundShowServlet</servlet-name>
    <servlet-class>com.heu.controllor.SoundShowServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AllServlet</servlet-name>
    <servlet-class>com.heu.controllor.AllServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>FunServlet</servlet-name>
    <servlet-class>com.heu.controllor.FunServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>PhotoServlet</servlet-name>
    <servlet-class>com.heu.controllor.PhotoServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SoundServlet</servlet-name>
    <servlet-class>com.heu.controllor.SoundServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>VideoServlet</servlet-name>
    <servlet-class>com.heu.controllor.VideoServlet</servlet-class>
  </servlet>
















  <servlet-mapping>
    <servlet-name>InsertuserServlet</servlet-name>
    <url-pattern>/servlet/InsertuserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FunShowServlet</servlet-name>
    <url-pattern>/servlet/FunShowServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CheckLoginServlet</servlet-name>
    <url-pattern>/servlet/CheckLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DownLoadServlet</servlet-name>
    <url-pattern>/servlet/DownLoadServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SendFunServlet</servlet-name>
    <url-pattern>/servlet/SendFunServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TestServlet</servlet-name>
    <url-pattern>/servlet/TestServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PhotoShowServlet</servlet-name>
    <url-pattern>/servlet/PhotoShowServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AllShowServlet</servlet-name>
    <url-pattern>/servlet/AllShowServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/servlet/Register</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>VideoShowServlet</servlet-name>
    <url-pattern>/servlet/VideoShowServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SoundShowServlet</servlet-name>
    <url-pattern>/servlet/SoundShowServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AllServlet</servlet-name>
    <url-pattern>/servlet/AllServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FunServlet</servlet-name>
    <url-pattern>/servlet/FunServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PhotoServlet</servlet-name>
    <url-pattern>/servlet/PhotoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SoundServlet</servlet-name>
    <url-pattern>/servlet/SoundServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>VideoServlet</servlet-name>
    <url-pattern>/servlet/VideoServlet</url-pattern>
  </servlet-mapping>	
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
